.container{
    font-size: 16px;
    font-family: 'Roboto Condensed', sans-serif;
}

.left{
    background-color: #FECA07;
    
}

.photo{
    width: 60%;
    margin: 30px auto;
}
.photo img{
    width: 100%;
    border-radius: 50%;
    border: 2px solid #DAAF12;
}


.left h3{
    text-transform: uppercase;
    font-size: 1.6em;
    background-color: #404040;
    padding: 5px;
    margin: 0px -15px;
    color: #DAAF12;
    text-align: center;
}

.title-left{
    margin-top: 30px;
    margin-bottom: 30px;

}
.title-left ul{
    margin-top: 25px;
    margin-left: 15px;
    font-size: 1.1em;
}
.about-me{
    margin-top: 15px;
    margin-bottom: 400px;
}

.about-me p{
    margin-top: 25px;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 1.1em;
}
.icons{
    display: flex;
    flex-direction: row;
    padding: 10%;

}
.ico{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
    font-size: 2em;
    color: #404040;
    padding: 15px 15px;
    border: 2px solid #404040;
    border-radius: 100%;
    margin-left: 5%;
    margin-right: 5%;
}



/*right col*/
.header-right{
 margin: 90px 40px 90px 40px;
}

.fullname{
    font-size: 3em;
    text-transform: uppercase;
}
.fullname span{
    color: #FECA07;
}

.profession{
    color: #404040;
    font-size: 1.7em;
    font-weight: 400;
}
.profession span{
    text-decoration: underline #FECA07;
}

.education-right{
    margin: 20px 20px; 
}

.right h3{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5em;
    padding-top: 3px;
    padding-bottom: 10px;
    border-bottom: 2px solid #FECA07;
    margin-bottom: 40px;
}

.color{
    color: #FECA07;
}
.dimensions{
    margin-right: 0.6em;
    font-size: 1.3em;

}

.circle-regular{
    color: #FECA07;
    margin-left: 2%;
}
.circle-solid{
    color: #FECA07;
    font-size: 0.6em;
    margin-left: 2%; 
}
.experience-right{
    margin: 20px 20px;
}
.right article{
    margin-left: 35%;
}
.right h4{
    text-transform: uppercase;
}
.right h5{
    font-weight: lighter;
}

.reference-right{
    margin: 20px 20px;   
}

.fa-sass{
   color: #CE679A; 
}

.fa-bootstrap{
    color: #5B4282;
}
.fa-html5{
color: #E54C25;
}
.fa-css3-alt{
color: #25A1E2;}



/* propriétés pour mobile */
@media only screen and (max-width: 480px){
    .title-left{
        font-size: 0.8em;
    }
    .photo{
        width: 40%;
    }
    .about-me{
        font-size: 0.8em;
    }
    .hobbies{
        font-size: 0.8em;
    }
    .icons{
        font-size: 1em;
    }
    /*Col right*/
    .header-right{
        margin: 10px 10px;
        font-size: 0.8em;
    }
    .right h3{
        font-size: 1em;
    }

    .right h4{
        font-size: 0.9em;
    }
    .right h5{
        font-size: 0.9em;
    }
    .right p{
        font-size: 0.9em;
    }
}
/*propriétés pour tablette*/
@media only screen and (min-width:481px) and (max-width:990px){
    .photo{
            width: 40%;
    }
    .title-left{
        font-size: 0.8em;
    }
    .about-me{
        font-size: 0.8em;
    }
    .hobbies{
        font-size: 0.8em;
    }
    .ico{
        padding: 5px 5px;
    }
    /*Col right*/
    .header-right{
        margin-left: 50px;
        margin-top: 40px;
    }
    .fullname{
        font-size: 2em;
    }
    .profession{
        font-size: 1.3em;
    }
    .right h3{
        font-size: 1.2em;
    }
    .right h4{
        font-size: 1em;
    }
    .right h5{
        font-size: 1em;
    }
    .right p{
        font-size: 1em;
    }

}